﻿@model IEnumerable<DotNetTestApp.Models.EmployeeVM>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div style="margin-top:6px; margin-bottom:6px">
            <label>Employee ID</label>
            @if (ViewBag.EmployeeID == null)
            {
                <input type="text" id="employee_id" value="" />
            }
            else
            {
                <input type="text" id="employee_id" value="@ViewBag.EmployeeID" />
            }
            <button type="button" id="show_salary_with_bonus_btn" class="btn btn-primary btn-sm">Show Salary with Bonus</button>

            <div id="no_employee_div" class="alert alert-warning collapse" style="margin-top:6px">
                <a id="warning_close" href="#" class="close">&times;</a>
                <strong>Warning:</strong>Please provide valid employee id.
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th class="text-center">Salary with bonus</th>
                        <th class="text-center">Join Date</th>
                    </tr>
                </thead>
                <tbody id="emp_data_tbody">
                    @foreach (var employee in Model)
                    {
                        <tr>
                            <td>@employee.ID</td>
                            <td class="emp_name text-left">@employee.Name</td>
                            <td class="text-left">@employee.Position</td>
                            <td class="emp_salary">@employee.SalaryWithBonus</td>
                            <td>@employee.JoinDate.ToString("dd-MM-yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <button type="button" id="highlight_salary_btn" class="btn btn-default btn-sm">Highlight Salary</button>
            <button type="button" id="highlight_name_btn" class="btn btn-default btn-sm">Highlight Name</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).on('click', '#show_salary_with_bonus_btn', function () {
        var employeeID = $('#employee_id').val();

        if (employeeID == "" || isNaN(employeeID)) {
            showWarning();
        }
        else {
            employeeID = parseInt(employeeID);
        }

        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '/Employees/EmployeeExists',
            data: {
                employeeID: employeeID,
            },
            cache: false,
            success: function (result) {
                if (result == true) {
                    $(location).attr('href', '/Home/Index?employeeID=' + employeeID);
                }
                else {
                    showWarning();
                }
            }
        });
    });

    $(document).on('click', '#warning_close', function () {
        $('#no_employee_div').hide('fade');
    });

    function showWarning() {
        $('#emp_data_tbody').empty();

        $('#no_employee_div').show('fade');

        setTimeout(function () {
            $('#no_employee_div').hide('fade');
        }, 2000);
    }

    $(document).on('click', '#highlight_salary_btn', function () {
        $('#emp_data_tbody').find('.emp_salary').css('color', 'green');
    });

    $(document).on('click', '#highlight_name_btn', function () {
        $('#emp_data_tbody').find('.emp_name').css('color', 'blue');
    });
</script>