﻿@model IEnumerable<DotNetTestApp.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.JoinDate)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.IsBonusAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th class="text-center">
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td class="text-center">
                @item.JoinDate.ToString("dd-MM-yyyy")
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.IsBonusAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Name)
            </td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
